* {
    margin:0;
    padding:0;
}

.container{
    position: relative;
}

#score{
    position:absolute;
    color:rgb(207, 52, 52);
    font-size: 70px;
    top:45px;
    left:50px
}

#level{
    position:absolute;
    color:rgb(207, 52, 52);
    font-size: 70px;
    top:45px;
    left: 780px;
}

#target{
    position:absolute;
    color:rgb(207, 52, 52);
    font-size: 70px;
    top:45px;
    left: 1250px;
}

.bg {
    width:100%;
    height:100vh;
    position: absolute;

}
 
.character {
    width: 200px;
    height: 250px;
    position: absolute;
    top:555px;
    left:40px
}

@keyframes jump {
    0%{top:555px}
    50%{top:300px}
    75%{top:300px}
    100%{top:555px}
}


.block {
width:200px;
height:200px;
position: absolute;
top: 590px;
left: 1500px;
}

@keyframes move {
    0%{left:1500px;transform: rotate(360deg);}
    100%{left:-200px; transform: rotate(0deg);}
}

#btn {
    position: absolute;
    background-color: white;
    width: 450px;
    height: 80px;
    border-radius: 30px;
    color: green;
    font-size: 30px;
    top: 130px;
    left: 220px;
    cursor: pointer;
}

#btn:hover{
    box-shadow: 2px 2px 38px greenyellow;
    color:white;
    background-color:green;
}


.box {
    position: absolute;
    width: 900px;
    height: 300px;
    border-radius: 50px;
    background-color: rgb(154 49 49 / 92%);
    left: 400px;
    top: 300px;
    box-shadow: 1px 1px 100px darkgray;
    display: none;
}

#text {
    font-size:60px;
    color:white;
    text-align: center;
    padding-top: 10px;
}

span{
    color:rgb(207, 52, 52);
}